.module {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  max-width: min-content;

  // max-width: 320px;
}

.label {
  align-self: start;
}

.textbox {
  width: 300px;
}

.button {
  max-width: 64px;
  padding-inline: 4px;
}

.label::before {
  color: tomato;
  content: '*';
}

.alert {
  color: tomato;
}
